body {
  background-color: #363636;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: -8px;
  margin-top: -20px;
  height: 110px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(27, 27, 27, 0.89);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(27, 27, 27, 0.11);
}

#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 105px
}

.cab{
  display: flex;
  flex-direction: row; 
}

.bab{
  display: flex;
  flex-direction: row; 
}

.lg{
  width: 90px;
  height: 80px;
  margin-top: 20px;
}

.pg{
  width: 50px;
  height: 45px;
  margin-top: 25px;
  margin-left: 35px;
}

.con {
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3em;
}

.fon {
  font-size: 2em;
  margin: 0px;
  margin-left: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;

}

.designH3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

mark {
  color:#F15001 ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: inherit;
}

.semSublinhado {
  text-decoration: none;
  color: rgb(7, 7, 7);
  margin: 10px;
  padding: 0 10px;
  background: #f2783b ;
  text-align: center;
  font-size: 1.5em;
}

.container img {
  margin-right: 15px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
  
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}
  
div.scrollmenu a:hover {
  background-color: #777;
}

#conhecer{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.um{
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.imagenss{
  margin-right: 35px;
}

.blocos{
  background:  rgb(148, 113, 88);
  color: #fff;
  width: 100%;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-radius: 25px;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(255, 113, 4);
  box-shadow: 0px 15px 20px rgba(241, 119, 70, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#ajuda{
  border-radius: 25px;
  margin-bottom: 80px;
}

.jj{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}

.jj p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}
 
a{
  color: #fff;
  text-decoration: none;
}

.mae {
  margin-top: 0px;
  padding: 0;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  max-width: 85%;
  max-height: 60%; ;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-top: 94px;
}

.carousel-slide {
  min-width: 100%;
}

.bn {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

#myModalLogin {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#contentModalHeader {
  background-color: #363636;
  margin: 5% auto;
  border: 1px solid #20202088;
  width: 100%;
  height: 40%;
  text-align: center;
  display: block;
  margin: 0px;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.label{
  display: block;
}

.input{
  background-color: #777;
  border: none;
  padding: 6px;
  margin-bottom: 9px;
  border-radius: 60px;
}

.col-container {
  display: flex; 
  justify-content: center;
  padding-top: 20px;
}

.col {
  width: 15%;
  height: 40%;
  margin: 10px;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
}

.col p {
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #F15001;
}

.caix {
  text-align: center;
}

.bi {
  color: #ffffff;
  height: 90px;
  width: 90px;
  text-align: center;
}

#relatorioTextos {
  display: flex;
  flex-wrap: wrap;
}

#relatorio, #imgEmpresa, #central {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 0px;
}

footer {
  background-color: #1b1b1b;
  margin: -8px;
  height: 12%;
  color:white;
  display: flex;
  flex-direction: row;
}

.mj {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.ci {
  margin-left: 20px;
}

.we {
  margin-left: 130px;
}

.a {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 0;
}

.di {
  color: #000;
  margin-right: 10px;
}

#er {
  display: flex;
  flex-direction: row;
  width: 220px;
}

.ty {
  margin-left: 130px;
}

.ty p {
  font-size: 20px;
}

.duvida a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}